.env
__pycache__/
*.pyc
.venv/
venv/

data/raw/*
data/processed/*
data/sample/source_inspection/*.html
!data/raw/.gitkeep
!data/processed/.gitkeep

dbt/skillbridge_dbt/target/
dbt/skillbridge_dbt/dbt_packages/
dbt/skillbridge_dbt/logs/

.DS_Store
.idea/
.vscode/